body {
  font-family: system-ui, sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  padding: 1rem;
}

#logo {
  width: 100px;
  margin-bottom: 1rem;
}

nav button {
  margin: 0 .25rem;
  background: transparent;
  color: #fff;
  border: 1px solid #444;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

nav button:hover {
  background: #333;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
